.sort-bar {
	display: flex;
	gap: 5px;
	flex-wrap: wrap;

	&__item {
		display: flex;
		flex-direction: column;

		&--hidden {
			visibility: hidden;
		}

		&--right {
			margin-inline-start: auto;
			align-items: end;
		}
	}
}
