.gallery-cards {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 20px;
}
.gallery-cards__pagination-bar {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.gallery-tree {
	padding: 15px;
}
